<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkin {{ checkin.uuid }}</title>
</head>
<body>
<h1>Checkin {{ checkin.uuid }}</h1>
<p>Used key: <a href="{{ url_for('view_key', fprint=checkin.used_key.fingerprint) }}">{{ checkin.used_key.name }}</a> </p>
<p>IP address: {{ checkin.safe_ip_addr() }}</p>
<p>Date: {{ checkin.date.ctime() }}</p>
{% if checkin.comment %}
<p>Comment:</p>
<p>{{ checkin.comment|safe }}</p>
{% else %}
<p>No comment attached.</p>
{% endif %}
<p>{{ 'This checkin can be evicted.' if checkin.can_be_evicted else 'This checkin will not be evicted.'}}</p>
</body>
</html>